body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/cinema.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #00B7FF;
}

#title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  /* align-items: flex-end; */
  align-content: stretch;
  font-size: 40px;
  color: #ffffff;
  margin: 0;
  line-height: 0;
}
